.title-box {
  display: flex;
  background: #fff;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px;
  .title-label {
    display: flex;
    align-items: center;
    .title {
      font-family: PingFangSC-Medium;
      font-size: 22px;
      color: #000000;
      line-height: 24px;
    }
    .detail {
      margin-left: 30px;
      display: flex;
      font-family: PingFangSC-Regular;
      font-size: 14px;
      color: #1d2832;
      letter-spacing: 0;
      .totalTask {
        padding-left: 10px;
      }
    }
  }
}
.filter-box {
  display: flex;
  background: #fff;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  .standard-input {
    width: 200px;
  }
}
.task-table-box {
  padding: 20px;
  .link {
    color: $mainColor;
  }
}
.progress-box {
  box-sizing: border-box;
  padding: 20px;
  .progress {
    background: #eef1ff;
    border-radius: 2px;
    height: 157px;
    display: flex;
    align-items: center;
    .left {
      padding: 40px 50px;
      .name {
        font-family: PingFangSC-Medium;
        font-size: 22px;
        color: #000000;
        line-height: 24px;
      }
      .id {
        margin-top: 33px;
        font-family: PingFangSC-Regular;
        font-size: 14px;
        color: #1d2832;
        letter-spacing: 0;
      }
    }
    .right {
      width: 60%;
      padding-left: 200px;
    }
  }
}
.event-table-box {
}
.btn-box {
  padding: 0 20px;
  margin-bottom: 30px;
  .btn {
    width: 140px;
  }
  .btn-en {
    width: 112px;
  }
}

.new-tips {
  &::after {
    content: "NEW";
    position: relative;
    left: 6px;
    bottom: 2px;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #ffa505;
  }
}

.node-name {
  width: 200px;
  padding-right: 2em;
  display: inline-block;
}

.power-occupied-item {
  display: flex;
  & > li {
    flex: 1;
  }
}

.task-step {
  .ant-steps-item-title {
    white-space: nowrap;
  }
}

.step-icon {
  position: relative;
  left: 4px;
  top: 4px;
  width: 16px;
  height: 16px;
  background: #c8c8c8;
  border-radius: 50%;
  &::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    width: 20px;
    height: 20px;
    background: transparent;
    border: 1px solid #c8c8c8;
    border-radius: 50%;
  }
}

.step-icon.active {
  background: #3c3588;
  &::before {
    border: 1px solid #3c3588;
  }
}

.step-icon.fail {
  background: #f24b4b;
  &::before {
    border: 1px solid #f24b4b;
  }
}
