.title-box {
  display: flex;
  background: #fff;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px 0px;
  .title-label {
    display: flex;
    align-items: center;
    .title {
      font-family: AlibabaPuHuiTi-Medium;
      font-size: 22px;
      color: #000000;
      line-height: 24px;
    }
    .detail {
      margin-left: 30px;
      display: flex;
      font-size: 14px;
      color: #1d2832;
      letter-spacing: 0;
      .totalTask {
        padding-left: 10px;
      }
    }
  }
}
.task-charts-box {
  display: flex;
  height: 222px;
  margin: 10px 0 30px;
  border-bottom: 1px solid #edeaf9;
  .charts-status {
    flex: 1;
    display: flex;
    align-items: center;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      width: 1px;
      height: 60%;
      background-color: #edeaf9;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
    }
  }
  .charts-capacity {
    flex: 1;
    display: flex;
    position: relative;
    align-items: center;
  }

  .chart-list {
    padding-left: 43px;
    .chart-list-line {
      line-height: 17px;
      font-family: AlibabaPuHuiTi-Regular;
      font-size: 14px;
      color: #31394d;
      letter-spacing: 0;
      margin-top: 13px;
      position: relative;
      &:not(:last-child) {
        margin-top: 13px;
      }
      .chart-icon {
        position: absolute;
        width: 16px;
        height: 16px;
        border-radius: 10px;
        top: 0;
        left: -27px;
      }
      .label {
        color: #31394d;
        width: 6vw;
        min-width: 80px;
        display: inline-block;
        // padding-right: 50px;
      }
      .value {
        font-family: AlibabaPuHuiTi-Bold;
        color: #31394d;
        padding-right: 10px;
      }
      .par {
        color: #001b00;
      }
    }
  }

  #statusChart,
  #capacityChart {
    width: 200px;
    height: 200px;
  }
  .chart-tip {
    position: absolute;
    left: 180px;
    top: 20px;
  }
}
.filter-box {
  display: flex;
  background: #fff;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  .standard-input {
    width: 200px;
  }
}
.task-table-box {
  padding: 20px;
  .link {
    color: $mainColor;
  }
}
.progress-box {
  box-sizing: border-box;
  flex: 1;
  padding-left: 50px;
  .progress {
    width: 100%;
    max-width: 700px;
    background: #eef1ff;
    border-radius: 2px;
    height: 111px;
    display: flex;
    flex: 1;
    align-items: center;
    .right {
      width: 50%;
      padding: 0px 50px;
      @media screen and (max-width: 1366px) {
        padding: 0px 30px;
      }
    }
  }
}

.event-table-box {
  margin-bottom: 40px;
}

.btn-box {
  margin-bottom: 30px;
  .btn {
    width: 140px;
  }
  .btn-en {
    width: 112px;
  }
}

.new-tips {
  border-radius: 10px;
  background: #ee502f;
  padding: 0px 6px;
  display: inline-block;
  font-size: 12px;
  position: absolute;
  top: 13px;
  right: 8%;
  transform: scale(0.7);
  &::after {
    content: "NEW";
    position: relative;
    font-size: 12px;
    color: #fff;
  }
}

.node-name {
  width: 200px;
  padding-right: 2em;
  display: inline-block;
}

.power-occupied-item {
  display: flex;
  & > li {
    flex: 1;
  }
}

.task-step {
  .ant-steps-item-title {
    white-space: nowrap;
  }
}

.step-icon {
  position: relative;
  left: 4px;
  top: 4px;
  width: 16px;
  height: 16px;
  background: #c8c8c8;
  border-radius: 50%;
  &::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    width: 20px;
    height: 20px;
    background: transparent;
    border: 1px solid #c8c8c8;
    border-radius: 50%;
  }
}

.step-icon.active {
  background: #3c3588;
  &::before {
    border: 1px solid #3c3588;
  }
}

.step-icon.fail {
  background: #f24b4b;
  &::before {
    border: 1px solid #f24b4b;
  }
}

.ant-descriptions-view {
  margin-left: 12px;
}

.flex-info-box {
  @media screen and (max-width: 1440px) {
    width: 80%;
    padding: 0 20px;
  }
  width: 50%;
}

.step-error{
  .ant-steps-item-container{
    .step-icon{
      background: #f14a4a;
      &::before{
        border-color: #f14a4a;
      }
    }
  }
}