.login-box {
  background-color: #080122;
  background-image: url('../../assets/images/login/loginBG.png');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: auto;

  .login-form-box {
    width: 1366px;
    min-width: 1000px;
    height: 788px;
    position: sticky;
    display: flex;
    padding-top: 234px;
    padding-left: 100px;
    padding-right: 130px;
    justify-content: space-between;

    .logo {
      width: 124px;
      // height: 104px;
      top: 44px;
      left: 50px;
      position: absolute;
    }

    .datum-left {
      font-size: 40px;
      font-family: MiSans-Heavy, MiSans;
      font-weight: 800;
      line-height: 53px;
      min-width: 800px;

      // word-spacing: 10px;
      // letter-spacing: 2px;

      .datum-name {
        padding-left: 35px;
        color: #FFFFFF;
        margin-bottom: 12px;
        background: linear-gradient(180deg, #FFFFFF 0%, #D0D0FF 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      p {
        width: 480px;
        padding-left: 35px;
        font-size: 20px;
        font-family: MiSans-Heavy, MiSans;
        font-weight: 500;
        background: linear-gradient(180deg, #D0D0FF 0%, #D0D0FF 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: #E8E8FF;
        line-height: 30px;
      }

      .representative-type {
        width: 580px;
        position: relative;
        margin-top: -20px;
      }
    }
  }

  .form-box {
    width: 400px;
    height: 300px;
    background: linear-gradient(321deg, rgba(135, 120, 255, 0.1) 0%, rgba(122, 140, 255, .3) 100%);
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 24px 20px 20px;

    .form-top {
      display: flex;
      font-size: 18px;
      font-family: MiSans-Heavy, MiSans;
      font-weight: 800;
      color: #FFFFFF;
      line-height: 24px;
      justify-content: space-between;

      .switch-lang {
        img {
          height: 20px;
          width: 20px;
        }
      }
    }
  }

  .samurai-box {
    font-weight: 400;
    color: #E8E8FF;
    line-height: 40px;
    text-align: center;

    .samurai-line {
      font-size: 14px;
      display: flex;
      align-items: center;
      justify-content: center;
      // font-family: MiSans-Regular, MiSans;

      .samurai-icon {
        width: 20px;
        height: 20px;
        margin-right: 10px;
        vertical-align: -3px;
      }
    }

    .samurai-line:nth-child(1) {
      margin-top: 52px;

    }

    .install-btn {
      // width: 114px;
      margin-top: 30px;
      width: 228px;
      height: 50px;
      background: rgba(142, 137, 255, 0.21);
      border-radius: 6px;
      border: 1px solid rgba(186, 174, 255, 0.13);
      font-size: 16px;
      font-weight: 400;
      color: #E8E8FF;
      line-height: 22px;

      &:hover {
        background: rgba(217, 215, 241, 0.21);
      }
    }
  }

  .plug-in-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    height: calc(100% - 44px);

    .connector-block {
      width: 260px;
      height: 70px;
      background: rgba(142, 137, 255, 0.21);
      border-radius: 6px;
      border: 1px solid rgba(186, 174, 255, 0.13);
      margin-bottom: 53px;
      display: flex;
      align-items: center;
      padding-left: 40px;
      font-size: 20px;
      font-family: MiSans-Heavy, MiSans;
      font-weight: 800;
      color: #FFFFFF;
      line-height: 27px;
      position: relative;
      cursor: pointer;
      overflow: hidden;

      &:hover {
        background: rgba(217, 215, 241, 0.21);
        transform: scale(1.05, 1.2);
      }

      .icon {
        margin-right: 27px;
      }

      .text {
        min-width: 100px;
        display: inline-block;
        text-align: center;
      }

    }

    .login-remarks {
      width: 290px;
      height: 32px;
      font-size: 12px;
      font-weight: 400;
      color: #FFFFFF;
      line-height: 16px;
      opacity: 0.5;
      text-align: center;
    }
  }
}

.g-ripple {
  position: absolute;
  /* 通过top和left修改位置 */
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.4);

}