.login-box {
  background-image: linear-gradient(180deg, $mainColor 0%, #231d5e 100%);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  z-index: 1000;
  .login-bottom-img {
    position: absolute;
    width: 100%;
    bottom: -35px;
  }

  .login-form-box {
    width: 847px;
    height: 390px;
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../assets/images/1.bj2.png") no-repeat;
    background-size: contain;
    border-radius: 6px 0 0 6px;
    .login-ball1,
    .login-ball2,
    .login-ball3 {
      position: absolute;
      border-radius: 50%;
      background-image: linear-gradient(145deg, #f37aed 0%, rgba(64, 86, 217, 0.18) 98%);
    }
    p.login-ball1 {
      width: 13px;
      height: 13px;
      bottom: -67px;
      right: -159px;
    }
    p.login-ball2 {
      width: 7px;
      height: 7px;
      bottom: -104px;
      right: -80px;
    }
    p.login-ball3 {
      width: 13px;
      height: 13px;
      left: -150px;
      bottom: 64px;
    }
    .login-square-img1,
    .login-square-img2,
    .login-square-img3 {
      position: absolute;
      z-index: 1;
    }
    .login-square-img1 {
      bottom: -60px;
      right: -22px;
    }
    .login-square-img2 {
      right: -129px;
      bottom: 10px;
    }
    .login-square-img3 {
      left: -122px;
      bottom: -104px;
    }
    .text-box {
      padding: 30px 40px;
      .p1 {
        font-family: AlibabaPuHuiTi-Bold;
        font-size: 24px;
        color: #ffffff;
      }
      .p2 {
        margin-top: 20px;
        font-size: 16px;
        color: #ffffff;
        line-height: 22px;
        width: 300px;
      }
      .p3 {
        width: 282px;
        position: absolute;
        bottom: 30px;
        font-size: 12px;
        color: #ffffff;
      }
    }
    .form-box {
      width: 477px;
      height: 458px;
      background: #ffffff;
      box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
      border-radius: 6px;
      position: absolute;
      right: 0;
      top: -34px;
      padding: 70px 64px 70px 63px;

      .switch-lang {
        position: absolute;
        right: 20px;
        top: 20px;
      }
      .title {
        font-family: AlibabaPuHuiTi-Medium;
        font-size: 20px;
        color: $mainColor;
        letter-spacing: 0;
        text-align: center;
      }
      .content-box {
        margin-top: 50px;
        .login-form-height {
          height: 40px;
        }
        .ant-input {
          &::placeholder {
            font-size: 14px;
            color: #cacccf;
            letter-spacing: 0;
          }
          border: none;
          background: rgba(232, 236, 243, 0.5);
          &:focus,
          &:active {
            border-left: 2px solid #ffa505 !important;
          }
          transition: unset;
        }
        .ant-input:focus,
        .ant-input-focused {
          border-left: 2px solid #ffa505 !important;
        }
        .ant-input:hover {
          border: none;
        }
      }
    }
  }
}
