$success: #63c7bb;
$failed: #f167a8;
$computing: #f29201;
$pending: #657acd;

.ant-spin-nested-loading,
.ant-spin-container,
.main-center-overview {
  width: 100%;
  height: 100%;

  .overview-content-box {
    display: flex;
    height: 18%;
    min-height: 96px;
    margin-bottom: 2.5vh;
    justify-content: space-between;

    // .overview-card:not(:last-child) {
    //   margin-right: 1.5vw;
    // }

    .overview-card {
      width: 31.5%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      padding: 1.8vh 1.2vw;
      position: relative;
      box-shadow: 0px 0px 10px rgba(10, 16, 81, 0.08);
      border-radius: 6px;

      .overview-card-left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: #fff;

        .title {
          font-family: AlibabaPuHuiTi-Medium;
          font-size: .8vw;
          letter-spacing: 0;
        }

        .content {
          font-family: AlibabaPuHuiTi-Medium;
          letter-spacing: 0;

          .value {
            font-size: 1.8vw;
          }

          .unit {
            font-size: .6vw;
          }
        }

        // @media screen and (max-width: 1920px) {
        //   padding: 0 8.3vw;
        // }

        @media screen and (max-width: 1366px) {
          .value {
            font-size: 32px;
          }

          .unit {
            font-size: 12px;
          }

          .title {
            font-size: 16px;
          }
        }
      }

      .overview-card-right {
        margin-right: 1.2vw;
        display: flex;
        align-items: center;

      }



      .card-wrap {
        min-width: 79px;
        min-height: 79px;
        border: 12px solid rgba(255, 255, 255, 0.2);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .overview-left {
      display: flex;
      justify-content: space-between;
      flex: 0 0 65%;

      .overview-card {
        flex: 0 0 47.3%;
      }
    }
  }

  .ant-progress-circle .ant-progress-text {

    color: #fff;

    .item-value {
      font-size: 1.1vw;
    }

    .company {
      font-size: .55vw;
    }

    @media screen and (max-width: 1366px) {
      .item-value {
        font-size: 22px;
      }
    }
  }
}

.overview-title {
  font-family: AlibabaPuHuiTi-Medium;
  font-size: 16px;
  color: #344563;
  letter-spacing: -0.5px;
  height: 2.9vh;
  line-height: 2.9vh;
  margin: 0 0 1.3vh;
}

.overview-box-content-top {
  height: 38.1%;
  margin-bottom: 2.7vh;
}

.overview-box-content-bottom {
  height: 38.1%;
}

.overview-box {
  width: 100%;
  height: 100%;
  min-height: 688px;

  overflow-y: auto;
  display: flex;
  justify-content: space-between;

  .overview-left {
    flex: 0 0 65%;
    display: flex;
    flex-direction: column;

    .overview-publish-data {
      @extend .overview-box-content-top;
      width: 100%;

      .publish-data-box {
        padding: 14px 20px;

        .publish-data-title {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 2px;
        }

        #publishData {
          height: 28vh;
        }
      }
    }

    .overview-data-box {
      display: flex;
      @extend .overview-box-content-bottom;

      .overview-data-amount1 {
        // width: 34.1vw;
        width: 100%;
        padding: 1vh 1.5vw;

        .overview-data-title {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        #totalData {
          margin-top: 20px;
          // height: 18vh;
          height: 80%;
        }
      }

      .overview-data-amount2 {
        width: 16.3vw;
        height: 26.8vh;
        padding: 1.8vh 1vw;

        .overview-data-amount2-content {
          display: flex;
          justify-content: center;
          margin: 5.1vh 0 4.3vh;

          @media screen and (max-width: 1366px) {
            margin: 4.1vh 0 3.3vh;
          }

          .value {
            font-family: AlibabaPuHuiTi-Medium;
            font-size: 32px;
            color: #3c3588;
            letter-spacing: 0;
            line-height: 38px;
          }

          .unit {
            font-family: AlibabaPuHuiTi-Medium;
            font-size: 14px;
            color: #00173a;
            letter-spacing: 0;
            line-height: 50px;
            margin-left: 10px;
          }
        }

        .ratio-box {
          display: flex;

          & img {
            width: 18px;
          }

          .upRatio,
          .downRatio {
            flex: 1;

            .ratio-line {
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 15px;
              letter-spacing: 0;
              line-height: 16px;

              p {
                padding-left: 0.5vw;
              }
            }

            .name {
              margin-top: 1vh;
              font-size: 12px;
              color: #5e6c84;
              letter-spacing: 0;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }

          .upRatio {
            color: #45b854;
          }

          .downRatio {
            color: #f45564;
          }
        }
      }
    }
  }

  .overview-right {
    flex: 0 0 31.5%;

    .overview-tasks {
      @extend .overview-box-content-top;
      padding: 15px;
      display: flex;
      flex-direction: column;

      .overview-tasks-content {
        display: flex;
        justify-content: space-between;
        flex: 1;
      }

      .taskChart-box {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;


        #taskChart {
          width: 100%;
          // width: 15vw;
          height: 15vw;
          // margin: 0 auto;
          // max-width: 200px;
          // max-height: 200px;
        }
      }

      #credential {
        width: 100%;
        height: 100%;
      }

      .overview-tasks-detail {
        flex: 0 0 120px;
        display: flex;
        flex-direction: column;
        // align-items: center;
        justify-content: center;

        .detail-line {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 10% 0;

          .left {
            display: flex;

            .logo-success {
              background: $success;
            }

            .logo-failed {
              background: $failed;
            }

            .logo-pending {
              background: $pending;
            }

            .logo-computing {
              background: $computing;
            }

            .logo {
              width: 16px;
              height: 16px;
              border-radius: 50%;
              position: relative;
              margin-right: 0.8vw;

              &:before {
                content: "";
                width: 8px;
                height: 8px;
                border-radius: 50%;
                position: absolute;
                background: #fff;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
              }
            }

            .type {
              font-size: 12px;
              color: #31394d;
              letter-spacing: 0;
            }
          }

          .value {
            font-family: AlibabaPuHuiTi-Bold;
            font-size: 12px;
            color: #31394d;
            letter-spacing: 0;
            text-align: center;
          }
        }
      }
    }

    .overview-authorization {
      width: 100%;
      padding: 15px;
      @extend .overview-box-content-bottom;

      .auth-list {
        width: 100%;
        height: 78%;

        @media screen and (max-width: 1366px) {
          height: 68%;
        }

        overflow-y: scroll;
        overflow-x: hidden;
        margin-top: 15px;
        margin-bottom: 5px;

        .auth-list-box {
          display: flex;
          flex-direction: column;
          margin-bottom: 10px;

          .auth-list-name {
            margin-bottom: 6px;
            display: flex;

            img {
              width: 14px;
            }

            .auth-list-date {
              font-family: AlibabaPuHuiTi-Medium;
              font-size: 12px;
              color: #344563;
              letter-spacing: 0;
              padding-left: 6px;
            }
          }

          .auth-list-remark {
            font-size: 12px;
            color: #5e6c84;
            letter-spacing: 0;
            word-break: break-all;
          }
        }
      }
    }
  }

  .item {
    background: #ffffff;
    box-shadow: 0 0 10px 0 rgba(10, 16, 81, 0.08);
    border-radius: 6px;
  }

  .data-name {
    font-family: AlibabaPuHuiTi-Medium;
    font-size: 16px;
    color: #344563;
    letter-spacing: -0.5px;
  }

  .data-switch {
    width: 10.8vw;
    height: 3.5vh;
    background: #3c3588;
    border-radius: 0.6vh;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 0.4vh;
    box-sizing: border-box;
    justify-content: space-between;

    // gap: 5px;
    .switchBtn {
      text-align: center;
      font-family: AlibabaPuHuiTi-Medium;
      font-size: 12px;
      letter-spacing: -0.5px;
      line-height: 10px;
      width: 5vw;
      height: 2.8vh;
      border-radius: 0.6vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .active {
      background-color: #fff;
      color: #3c3588;
    }
  }
}

.public-chart-tip-icon {
  display: inline-block;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  border: 1px solid #FFFFFF;
}

.public-chart-tip-wrap {
  // width: 100px;
  padding: 3px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: AlibabaPuHuiTi-Medium;
  font-size: 12px;
  color: #FFFFFF;
  letter-spacing: 0;
  font-weight: 500;

  p {
    margin: 0 10px 0 0;
  }

  position: relative;

  &::after {
    position: absolute;
    content: ' ';
    display: inline-block;
    border-width: 4px;
    bottom: -6px;
    right: calc(50% - 2px);
    border: solid #3C3588;
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
  }
}