.seed-box {
  background: #ffffff;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  border-radius: 6px;
  padding: 15px 20px;
  width: 263px;
  height: 162px;
  &:not(:last-child) {
    margin-bottom: 26px;
  }
  .num {
    font-family: PingFangSC-Medium;
    color: $mainColor;
    letter-spacing: 0;

    span.number {
      font-size: 40px;
    }
    span.title {
      padding-left: 20px;
      font-size: 18px;
    }
  }
  .text-box {
    margin-top: 28px;
    .text {
      display: flex;
      justify-content: space-between;
      font-family: PingFangSC-Medium;
      font-size: 16px;
      color: #1d2832;
      letter-spacing: 0;
      line-height: 22px;
      margin-bottom: 1px;
      span:nth-child(2) {
        padding-left: 10px;
      }
      &:first-child {
        margin-bottom: 15px;
      }
    }
  }
  .compute-box {
    align-items: center;
    margin-top: 28px;
    .title-section {
      display: flex;
      justify-content: space-between;
      font-family: PingFangSC-Medium;
      font-size: 16px;
      color: #1d2832;
      letter-spacing: 0;
      line-height: 22px;
    }
  }
  .status {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    font-family: PingFangSC-Regular;
    align-items: center;
    font-size: 14px;
    color: #000000;
    letter-spacing: 0;
    display: flex;
    .status-title {
      padding-right: 10px;
    }
    .status-text {
      line-height: 23px;
      padding-right: 10px;
    }
    .status-icon {
      width: 23px;
      height: 23px;
      display: inline-block;
      border-radius: 4px;
    }
    .close-status-icon {
      background-color: #f32e25;
    }
    .open-status-icon {
      background-color: #7de40c;
    }
  }
}
.value {
  margin-right: 10px;
}

.mainColor {
  color: $mainColor;
}
