.ant-switch-checked {
  background-color: #69bd0d;
}

.datail-box-content {
  font-family: AlibabaPuHuiTi-Medium;
  font-size: 14px;
  color: #1d2832;
  letter-spacing: 0;
  word-break: break-all;
  overflow: hidden;
}

.btn-group {
  .btn {
    width: 141px;
  }
}
