.my-tag-box {
  display: inline-block;
  border-radius: 14px;
  font-size: 12px;
  letter-spacing: 0;
  height: 26px;
  line-height: 23px;
  padding: 0px 16px;
  text-align: center;
  &:not(:first-child) {
    margin-left: 15px;
  }
}
