@font-face {
  font-family: 'AlibabaPuHuiTi-Regular';
  src: url('./Alibaba-PuHuiTi-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AlibabaPuHuiTi-Medium';
  src: url('./Alibaba-PuHuiTi-Medium.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AlibabaPuHuiTi-Bold';
  src: url('./Alibaba-PuHuiTi-Bold.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'custom-iconfont';
  src: url('./icons/iconfont.woff2') format('woff2'),
       url('./icons/iconfont.woff') format('woff'),
       url('./icons/iconfont.ttf') format('truetype');
}