@font-face {
  font-family: 'AlibabaPuHuiTi-Regular';
  src: url('./newAlibabaFonts/Alibaba-PuHuiTi-Regular.ttf');
  /* src: url('./Alibaba/Alibaba-PuHuiTi-Regular.otf'); */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AlibabaPuHuiTi-Medium';
  src: url('./newAlibabaFonts//Alibaba-PuHuiTi-Medium.ttf');
  /* src: url('./Alibaba/Alibaba-PuHuiTi-Medium.otf'); */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AlibabaPuHuiTi-Bold';
  src: url('./newAlibabaFonts//Alibaba-PuHuiTi-Bold.ttf');
  /* src: url('./Alibaba/Alibaba-PuHuiTi-Bold.otf'); */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'custom-iconfont';
  src: url('./icons/iconfont.woff2') format('woff2'),
    url('./icons/iconfont.woff') format('woff'),
    url('./icons/iconfont.ttf') format('truetype');
}

@font-face {
  font-family: 'MiSans';
  src:
    /* url('./MISans/MiSans-Heavy.ttf'), */
    /* url('./MISans/MiSans-Regular.ttf'), */
    url('./newMISansFonts/MiSans-Heavy.ttf'),
    url('./newMISansFonts/MiSans-Regular.ttf');
}