.editable-cell {
  position: relative;
}

.editable-cell-value-wrap {
  padding: 5px 12px;
  cursor: pointer;
  // line-height: 30px;
  height: 32px;
}

.editable-row:hover .editable-cell-value-wrap {
  padding: 4px 11px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
}

[data-theme="dark"] .editable-row:hover .editable-cell-value-wrap {
  border: 1px solid #434343;
}

.limitLine {
  width: 60%;
}

.ant-switch-checked {
  background-color: #69bd0d;
}
.data-table-box{
  .data-mgt-tabs{
    .searchBar-box{
      padding-bottom:0;
    }
    .ant-tabs-nav{
      margin-bottom: 0;
      &::before{
        display: none;
      }
      .ant-tabs-nav-list .ant-tabs-tab{
        border-bottom: none;
        height: 48px;
        min-width: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px 5px 0 0;
        &:nth-child(1){
          margin-left: 0 !important;
        }
      }
      .ant-tabs-nav-list .ant-tabs-tab-active .ant-tabs-tab-btn{
        font-family: PingFangSC-Medium;
        // font-size: 12px;
        color: #3954FF;
        letter-spacing: 0;
        text-align: center;
        font-weight: 500;
      }
    }
  }
  .data-symbol{
    color: #3C3588;
    cursor: pointer;
  }
}
