.editable-cell {
  position: relative;
}

.editable-cell-value-wrap {
  padding: 5px 12px;
  cursor: pointer;
  // line-height: 30px;
  height: 32px;
}

.editable-row:hover .editable-cell-value-wrap {
  padding: 4px 11px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
}

[data-theme="dark"] .editable-row:hover .editable-cell-value-wrap {
  border: 1px solid #434343;
}

.limitLine {
  width: 60%;
}

.ant-switch-checked {
  background-color: #69bd0d;
}

.data-table-box {
  .ant-tabs-top {
    .ant-tabs-extra-content {
      display: flex;
      align-items: flex-end;

      .searchBar-box {
        padding-bottom: 0;
      }
    }

    .ant-tabs-nav {
      margin-bottom: 0;

      &::before {
        display: none;
      }

      .ant-tabs-nav-list .ant-tabs-tab {
        border-bottom: none;
        height: 42px;
        min-width: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px 5px 0 0;

        &:nth-child(1) {
          margin-left: 0 !important;
        }

        .anticon {
          margin-right: 0px;
        }
      }

      .ant-tabs-nav-list .ant-tabs-tab-active .ant-tabs-tab-btn {
        font-family: AlibabaPuHuiTi-Medium;
        // font-size: 12px;
        // color: #3954FF;
        letter-spacing: 0;
        text-align: center;
        font-weight: 500;
      }
    }
  }

  .data-symbol {
    color: #3C3588;
    cursor: pointer;
  }

  .ant-table-thead>tr>th,
  .ant-table-tbody>tr>td,
  .ant-table tfoot>tr>th,
  .ant-table tfoot>tr>td {
    padding: 12px 16px 9px 16px !important;
  }

  .ant-tabs-card>.ant-tabs-nav .ant-tabs-tab,
  .ant-tabs-card>div>.ant-tabs-nav .ant-tabs-tab {
    background: #F7F7FA;
  }

  .ant-tabs-card>.ant-tabs-nav .ant-tabs-tab-active,
  .ant-tabs-card>div>.ant-tabs-nav .ant-tabs-tab-active {
    background: #fff;
    color: #3954FF;
  }

  ._table {
    border-top: 1px solid #eeeeee;

    .ant-table-thead .ant-table-cell {
      &::before {
        display: none;
      }
    }
  }

  .ant-table-thead>tr>th {
    background: #fff;
  }

  .ant-table-thead>tr>th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
    display: none;
  }

  .ant-tabs-top>.ant-tabs-nav::before,
  .ant-tabs-top>div>.ant-tabs-nav::before {
    display: none;
  }

  .ant-table-tbody>tr.ant-table-row {
    &:hover {
      background-color: #efefef;
    }
  }

  .ant-table-tbody>tr.ant-table-row:hover>td {
    background-color: #efefef;
  }
}