.did-box {
  background: #ffffff;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  margin: 4% auto 0 auto;
  // height: ;
  height: calc(100vh - 20vh);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 6px;
  padding: 0%;
  overflow: hidden;

  .title {
    font-family: AlibabaPuHuiTi-Medium;
    font-size: 20px;
    color: #1d2832;
    letter-spacing: 0;
  }

  .form-box {
    width: 100%;
    margin: 40px 0 46px 0;

    .ant-input,
    .ant-form-item-label {
      height: 40px;
      line-height: 40px;
    }

    textarea.ant-input {
      height: auto;
    }

    .ant-input {
      text-indent: 9px;
      background: #FAF9FF;
      border: 1px solid #EDEAF9;
      border-radius: 2px;
    }

    .set-your-org-name-title {
      margin-bottom: 30px;
    }

    .orgName-rules {
      padding-left: 20px;
      font-family: AlibabaPuHuiTi-Regular;
      font-size: 14px;
      color: #5D5C65;
      letter-spacing: 0;
      font-weight: 400;
    }

    .identifier {
      font-family: AlibabaPuHuiTi-Regular;
      font-size: 14px;
      color: #5D5C65;
      letter-spacing: 0;
      font-weight: 400;
      padding-left: 22%;
      margin-bottom: 12px;

      .lable {
        display: inline-block;
        width: 180px;
      }
    }

    hr {
      width: 81%;
      height: 1px;
      background: #E8E8E8;
      border-color: #E8E8E8;
      margin: 30px auto;
      border: none;
    }

    .identfier-info-lable {
      font-family: AlibabaPuHuiTi-Bold;
      font-size: 14px;
      color: #5D5C65;
      letter-spacing: 0;
      font-weight: 700;
      margin-bottom: 12px;
    }

    .info-dragger {
      background: #FAF9FF;
      border: 1px dashed #DBDCE7;
      border-radius: 2px;
      height: 140px;

      .anticon {
        font-size: 20px;
        color: #3C3588;
        margin-bottom: 4px;
      }

      p {
        font-family: AlibabaPuHuiTi-Medium;
        font-size: 12px;
        color: #3C3588;
        letter-spacing: 0;
        text-align: center;
        line-height: 20px;
        font-weight: 500;
      }

      .head-img-lable {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 34px;
        background: rgba(0, 0, 0, .6);
        border-radius: 0px 0px 2px 2px;
        display: flex;
        align-items: center;
        padding-left: 14px;
        font-family: AlibabaPuHuiTi-Medium;
        font-size: 12px;
        color: #FFFFFF;
        letter-spacing: 0;
        text-align: center;
        line-height: 20px;
        font-weight: 500;
      }

      .ant-upload {
        padding: 0;
      }
    }

    .identfier-info-input {
      height: 140px !important;

      textarea {
        height: 100%;
      }
    }

    .head-img {
      width: 100%;
      height: 100%;
      border: none;
    }

    .ant-image {
      height: 140px;
      width: 100%;
    }

    .del {
      position: absolute;
      right: -5px;
      top: 20px;
      font-size: 24px;
      color: #F24B4B !important;

      &:hover {
        cursor: pointer;
      }
    }

    .clean {
      position: absolute;
      bottom: 30px;
      right: 20px;
      cursor: pointer;
    }

    .center {
      margin-top: 50px;

      .but {
        margin: 0 10px;
        width: 150px;
        height: 40px;
        background: #3C3588;
        border-radius: 2px;
        font-family: AlibabaPuHuiTi-Medium;
        font-size: 18px;
        color: #FFFFFF;
        letter-spacing: 0;
        text-align: center;
        font-weight: 500;

        &:nth-child(2) {
          border: 1px solid #3C3588;
          color: #3C3588;
          background: #fff;
        }
      }
    }


  }

  .btn {
    display: flex;
    justify-content: center;
    margin-top: 80px;

    .submit-btn {
      width: 350px;
      height: 40px;
      border-radius: 2px;
    }


  }

  .submit-btn-flex {
    display: inline-flex !important;
    align-items: center !important;
  }

  .center {
    text-align: center;
  }
}

.didAppication-step {
  background: #F8F8FF;
  height: 136px;
  flex: 0 0 136px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 119px;

  .ant-steps-item {
    .ant-steps-item-icon {
      width: 17px;
      height: 17px;
      border-radius: 50%;
      overflow: hidden;
      background: #F7F4F4;
      z-index: 11;
      border: 1px solid #B8B8B8;

      .ant-steps-icon {
        display: inline-block;
        overflow: hidden;
        color: transparent;
      }
    }

    .ant-steps-item-tail {
      background: transparent;
      padding: 0 17px 0 1px;
      top: 9px;

      &::after {
        background: transparent;
        border-top: 1px dashed #C6C6C6;
      }
    }

    .ant-steps-item-content {
      margin-top: 0;
      padding-right: 15px;
      padding-top: 7px;
      box-sizing: border-box;
      height: 32px;
      font-family: AlibabaPuHuiTi-Medium;
      font-size: 14px;
      color: #333333;
      letter-spacing: 0;
      text-align: center;
      line-height: 12px;
      font-weight: 500;
    }

    &:nth-child(2) {
      .ant-steps-item-container {
        .ant-steps-item-content {
          padding-right: 15px;
        }
      }
    }
  }

  .ant-steps-item-finish {
    .ant-steps-item-icon {
      background-color: rgba(57, 84, 255, 0.10);
      display: inline-flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      border: 1px solid #3C3588;
      position: relative;

      .ant-steps-icon {
        overflow: hidden;
        font-size: 9px;
        color: #3C3588;
      }
    }

    .ant-steps-item-tail {
      &::after {
        border-top: 1px dashed #3C3588;
      }
    }
  }

  .ant-steps-item-process {
    .ant-steps-item-icon {
      border-radius: 50%;
      width: 24px;
      height: 24px;
      background: #3C3588;
      box-shadow: 0 0 1px 4px rgba(57, 84, 255, 0.10);
      display: inline-flex;
      align-items: center;
      justify-content: center;
      top: -3px;
      position: relative;

      .ant-steps-icon {
        display: inline-block;
        overflow: hidden;
        width: 12px;
        height: 12px;
        background: #FFFFFF;
        border-radius: 50%;
        color: transparent;
      }
    }

    .ant-steps-item-content {
      padding-top: 0;
    }
  }
}

.datum-internet-status {
  margin: 10% 0 !important;

  .status-lable {
    font-family: AlibabaPuHuiTi-Regular;
    font-size: 14px;
    color: #5D5C65;
    letter-spacing: 0;
    font-weight: 400;
    margin-right: 20PX;
  }

  .success {
    height: 24px;
    background: #5BC49F;
    border-radius: 12px;
    padding: 2px 12px;
    font-family: AlibabaPuHuiTi-Medium;
    font-size: 15px;
    color: #FFFFFF;
    line-height: 18px;
    font-weight: 500;
  }

  .error {
    height: 24px;
    background: #F24B4B;
    border-radius: 12px;
    padding: 2px 12px;
    font-family: AlibabaPuHuiTi-Medium;
    font-size: 15px;
    color: #FFFFFF;
    line-height: 18px;
    font-weight: 500;
  }

  .operation-tips-success {
    font-family: AlibabaPuHuiTi-Regular;
    font-size: 14px;
    color: #5D5C65;
    letter-spacing: 0;
    font-weight: 400;
    margin-top: 20px;
  }

  .operation-tips-error {
    margin-top: 20px;

    .anticon-warning {
      margin-right: 8px;
      display: inline-block;
    }

    font-family: AlibabaPuHuiTi-Medium;
    font-size: 14px;
    color: #F24B4B;
    letter-spacing: 0;
    font-weight: 500;
  }
}

.avatar-uploader {
  height: 140px;

  .ant-upload {
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    background-color: "#FAF9FF" !important;
  }
}

$url: 'https://datumdev.mypinata.cloud/ipfs/QmSZcdJcCyvbUXjdmtsG5aT9yXVzMmwsfSr2QvJ5jrde1P';

.avatar-bg {
  .ant-upload {
    background-size: 100% auto;
    background: linear-gradient(to top, rgba(255, 255, 255, .3), rgba(255, 255, 255, .3)), url($url) no-repeat;
    background-position: 50%;
  }

}