$cpu: #ffa505;
$memory: #00bdb3;
$bandwidth: #5eaafe;

.my-table-box {
  .ant-table-thead {
    height: 104px;
    position: relative;
    background-color: #3c3588;
    .ant-table-cell {
      padding: 0 !important;
      background-color: unset;
      height: 104px;
    }
    .task-col {
      position: absolute;
      height: 100%;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 0 30px;
      font-family: PingFangSC-Medium;
      font-size: 20px;
      color: #ffffff;
      background: url('../../../../assets/images/overview/2.bj.svg') no-repeat;
    }
    .cpu-col {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      padding: 0 30px;
      .left {
        display: flex;
        align-items: center;
        margin-right: 20px;
        .img {
          width: 50px;
        }
      }
      .right {
        display: flex;
        flex-direction: column;
        .name {
          font-family: PingFangSC-Regular;
          font-size: 16px;
          color: #ffffff;
          line-height: 26px;
        }
        .precent {
          margin-top: 9px;
          font-family: PingFangSC-Medium;
          font-size: 28px;
          color: #ffffff;
          letter-spacing: 1px;
          line-height: 26px;
        }
      }
    }
  }
  .ant-table-thead > tr > th {
    border-bottom: unset;
  }
  .ant-table-cell-ellipsis {
    white-space: unset;
  }
  .ant-table-tbody {
    .ant-table-cell {
      height: 86px;
      padding: 0 30px;
      position: relative;
      vertical-align: middle;
    }
    .task-cell {
      font-family: PingFangSC-Medium;
      font-size: 18px;
      color: #1d2832;
      letter-spacing: 0;
      height: 100%;
      display: table-cell;
      vertical-align: middle;
    }
    .table-cell {
      display: table-cell;
      vertical-align: middle;
      height: 100%;
      padding-left: 18px;
      position: relative;
      &:before {
        content: '';
        position: absolute;
        top: 4px;
        left: 0px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #ffa505;
      }

      .table-title {
        font-family: PingFangSC-Regular;
        font-size: 12px;
        color: #1d2832;
      }
      .table-content {
        font-family: PingFangSC-Medium;
        font-size: 20px;
        color: #3c3588;
        letter-spacing: 1px;
      }
    }

    .cpu-status {
      &:before {
        background-color: $cpu;
      }
    }
    .memory-status {
      &:before {
        background-color: $memory;
      }
    }
    .bandwidth-status {
      &:before {
        background-color: $bandwidth;
      }
    }
  }
}
