.seed-box {
  background: #ffffff;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  border-radius: 6px;
  padding: 0.15rem 0.2rem;
  width: 2.63rem;
  height: 1.62rem;
  &:not(:last-child) {
    margin-bottom: 26px;
  }
  .num {
    font-family: PingFangSC-Medium;
    font-size: 30px;
    color: $mainColor;
    letter-spacing: 0;
    line-height: 0.42rem;
    height: 0.42rem;
  }
  .title {
    font-family: PingFangSC-Medium;
    font-size: 16px;
    color: $mainColor;
    letter-spacing: 0;
  }
  .text-box {
    margin-top: 0.2rem;
    .text {
      font-family: PingFangSC-Medium;
      font-size: 14px;
      color: #1d2832;
      letter-spacing: 0;
      line-height: 22px;
      margin-bottom: 0.1rem;
      span:nth-child(2) {
        padding-left: 0.1rem;
      }
    }
  }
  .compute-box {
    display: flex;
    margin-top: 0.2rem;
    justify-content: space-between;
    align-items: center;
    .title-section {
      width: 125px;
      font-family: PingFangSC-Medium;
      font-size: 14px;
      color: #1d2832;
      letter-spacing: 0;
      line-height: 22px;
    }
  }
  .status {
    margin-top: 0.2rem;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #000000;
    letter-spacing: 0;
    display: flex;
    .status-title {
      padding-right: 0.1rem;
    }
    .status-text {
      padding-right: 0.1rem;
    }
    .status-icon {
      width: 14px;
      height: 14px;
      border-radius: 50%;
      display: inline-block;
    }
    .close-status-icon {
      background-color: #7de40c;
    }
    .open-status-icon {
      background-color: #f32e25;
    }
  }
}
