.pointer {
  cursor: pointer;
}

.main-wrapper {
  display: flex;

  .left-side {
    width: 263px;
  }

  .right-side {
    flex: 1;
    margin-left: 30px;
  }
}

.link {
  color: $mainColor;
}

.layout-box {
  width: calc(100% + 15px);
  height: calc(100vh - 120px);
  overflow-y: scroll;
  .submit-box {
    padding: 20px;
  }

  .bread-box > .ant-breadcrumb {
    height: 50px;
    line-height: 50px;
    padding-left: 10px;
  }

  &.gray-box {
    background: #f7f8fa;
  }

  .bread-box {
    background: #fff;
    border-bottom: 1px solid #ebeef9;
    display: flex;
    align-items: center;
    padding-left: 12px;
  }

  .form-box {
    padding: 30px 20px;
  }

  .searchBar-box {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;

    .btn {
      height: 36px;
      border-radius: 2px;
    }
  }

  .charts-box {
    display: flex;

    margin-top: 30px;

    .node-info {
      flex: 1;
      background: #fff;
      margin-right: 30px;
      padding: 20px;

      .title span {
        font-family: PingFangSC-Medium;
        font-size: 16px;
        color: #000000;
        letter-spacing: 0;
      }

      #lineChart {
        width: 100%;
        height: 200px;
      }
    }

    .cpu-info {
      width: 21%;
      height: 320px;
      background: #fff;
      color: #000000;
      font-size: 14px;
      padding: 20px;
      font-family: PingFangSC-Regular;
      letter-spacing: 0;

      title {
      }

      .status {
        margin-top: 28px;
        line-height: 24px;
      }

      .charts {
        display: flex;
        justify-content: center;
        margin-top: 0.3rem;
      }
    }
  }

  .table-box {
    padding: 20px;
    p.details {
      display: flex;
      justify-content: space-between;
    }
  }

  .white-bg {
    margin-top: 30px;
    background: #fff;
  }

  .info-box {
    padding: 20px 20px 0px;

    .title-label {
      font-family: PingFangSC-Medium;
      font-size: 16px;
      color: #000000;
      letter-spacing: 0;
      font-weight: 600;
    }
  }

  .add-info-box {
    padding: 20px;

    .btn {
    }

    .limit-box {
      width: 572px;
    }

    .title-box {
      flex: auto;
      overflow: hidden;
      color: #000000;
      font-weight: bold;
      font-size: 16px;
      line-height: 1.5715;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .label-box {
      padding: 20px;

      .note-box {
        margin-top: 10px;
        font-family: PingFangSC-Regular;
        font-size: 12px;
        color: #f5222d;
        letter-spacing: 0;
      }

      .upload-line {
        display: flex;
        position: relative;
      }
    }

    .sub-info-box {
      padding: 20px 30px;

      .title-box {
        padding-bottom: 20px;
        // &:before {
        //   position: absolute;
        //   top: 0;
        //   left: 0;
        //   width: 8px;
        //   height: 8px;
        //   background-color: #ffa505;
        // }
      }

      .ant-radio-button-wrapper-checked {
        background-color: $mainColor !important;
        color: #fff !important;
      }
    }
  }

  .data-table-box {
    .operation-box {
      .btn {
        font-family: PingFangSC-Regular;
        font-size: 14px;
        color: #3c3588;
        letter-spacing: 0;
        line-height: 16.8px;
      }
    }
  }

  .tips {
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #f5222d;
    letter-spacing: 0;
  }
}

.ant-modal-body {
  min-height: 140px;
  font-family: PingFangSC-Medium;
  font-size: 14px;
  color: #1d2832;
  letter-spacing: 0;
  line-height: 24px;
}

.ant-table-cell {
  vertical-align: middle;
}

.btn-group {
  margin-top: 15px;

  .btn {
    width: 112px;
  }

  .active {
    background: $mainColor;
    color: #fff;
  }
}
.time-group {
  margin-top: 15px;
  font-size: 12px;
  color: #5d5c65;
  letter-spacing: 0;
  .active {
    font-family: PingFangSC-Medium;
    color: #3c3588;
    font-weight: bold;
  }
}

.ant-btn-primary[disabled] {
  background-color: #3c3588;
}

.success_color {
  color: #69bd0d;
}

.failed_color {
  color: #f5222d;
}

.prev-steelblue,
.prev-seagreen,
.prev-orange {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0.6em;
    left: -1.4em;
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }
}

.prev-orange {
  &::before {
    background-color: #ffa505;
  }
}
.prev-seagreen {
  &::before {
    background-color: #00bdb3;
  }
}
.prev-steelblue {
  &::before {
    background-color: #5eaafe;
  }
}
