.pointer {
  cursor: pointer;
}

.link {
  color: $mainColor;
}

.layout-box {
  width: 100%;
  height: calc(100vh - 110px);
  background-color: #fff;
  box-shadow: 0 0 10px 0 rgba(10, 16, 81, 0.08);
  border-radius: 6px;
  overflow-y: scroll;
  padding: 20px;

  .submit-box {
    padding: 20px;
  }

  &.gray-box {
    background: #f7f8fa;
  }

  .bread-box {
    background: #fff;
    border-bottom: 1px solid #ebeef9;
    display: flex;
  }

  .form-box {
    padding: 20px 20px;
  }

  .searchBar-box {
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;

    .btn {
      height: 36px;
      border-radius: 2px;
    }
  }

  .charts-box {
    display: flex;
    margin-top: 30px;
  }

  .white-bg {
    margin-top: 30px;
    background: #fff;
  }

  .author-tab {
    margin: 0 0 20px 78px;
    .tab-title {
      font-family: AlibabaPuHuiTi-Medium;
      font-size: 14px;
      color: #3c3588;
      letter-spacing: 0;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        border-bottom: 2px solid #3c3588;
        height: 2px;
        width: 0%;
        left: 0;
        bottom: -10px;
        transition: width 0.3s;
      }
      &:hover:after {
        width: 100%;
      }
      &.active:after {
        width: 100%;
      }
    }
  }

  .add-data-box {
    .limit-box {
      // padding-left: 12px;
      width: 60%;
      @media screen and (max-width: 1366px) {
        width: 90%;
      }
      .edit-btn {
        font-family: AlibabaPuHuiTi-Medium;
        font-size: 14px;
        color: #3c3588;
        letter-spacing: 0;
      }
    }
    .title-box {
      font-size: 14px;
      color: #1d2832;
      letter-spacing: 0;
    }
    .label-box {
      padding: 20px;

      .note-box {
        margin-top: 10px;
        font-size: 12px;
        color: #f5222d;
        letter-spacing: 0;
      }

      .dragger-box {
        width: 322px;
        border: 1px solid #d9e1ff;
        border-radius: 2px;
        height: 111px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
          background-color: #f7f7fa;
        }
        &.dot-line {
          border: 1px dashed #d9e1ff;
        }
        .dragger-box-title {
          position: absolute;
          height: 32px;
          padding: 0 10px;
          top: 0;
          width: 100%;
          line-height: 32px;
          background-color: #d9e1ff;
        }
      }
    }

    .sub-info-box {
      margin-bottom: 20px;
      .title-label {
        font-family: AlibabaPuHuiTi-Medium;
        font-size: 14px;
        color: #3c3588;
        letter-spacing: 0;
        padding-left: 78px;
        margin-bottom: 10px;
      }
      .sub-ori-name {
        display: flex;
        font-family: AlibabaPuHuiTi-Medium;
        font-size: 16px;
        color: #000000;
        letter-spacing: 0;
        .ant-form-item-label > label {
          font-size: 16px;
        }
        .ant-form-item-control-input-content {
          font-size: 16px;
        }
      }

      .value-text {
        font-family: AlibabaPuHuiTi-Medium;
        font-size: 14px;
        color: #1d2832;
        letter-spacing: 0;
      }

      .ant-form-item {
        margin-bottom: 20px;
      }
      .sub-new-name {
        font-size: 14px;
        color: #1d2832;
        letter-spacing: 0;
        display: flex;
        align-items: center;
      }
      .sub-title-box {
        background: #eef1ff;
        height: 36px;
        line-height: 36px;
        padding: 0 12px;
        margin-bottom: 20px;
      }

      .ant-radio-button-wrapper-checked {
        background-color: $mainColor !important;
        color: #fff !important;
      }
      .width457 {
        width: 457px;
      }
    }
    .task-progress-box {
      display: flex;
      margin-bottom: 20px;
      .task-progress-left-box {
        @media screen and (max-width: 1440px) {
          width: 251px;
        }
      }
    }
    .top-title-box {
      display: flex;
      margin-bottom: 20px;
      height: 20px;
      &:first-child {
        font-family: AlibabaPuHuiTi-Medium;
        font-size: 16px;
        color: #000000;
        letter-spacing: 0;
        margin-bottom: 12px;
        height: 22px;
      }
      .title {
        white-space: nowrap;
      }
    }
  }

  .data-table-box {
    width: 100%;
    .operation-box {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      .btn {
        font-family: AlibabaPuHuiTi-Medium;
        font-size: 14px;
        color: #3c3588;
        letter-spacing: 0;
        line-height: 16.8px;
      }
    }
    .status-box {
      display: flex;
      align-items: center;
      & > img:first-child {
        padding-right: 10px;
      }
    }
  }

  .tips {
    font-size: 12px;
    color: #f5222d;
    letter-spacing: 0;
  }
}

.layout-gray-box {
  width: 100%;
  height: calc(100vh - 110px);
  border-radius: 6px;
  .title-box {
    padding-left: 20px;
    line-height: 22px;
    letter-spacing: 0;
    .title-name {
      font-family: AlibabaPuHuiTi-Medium;
      font-size: 16px;
      color: #000000;
      margin-bottom: 12px;
    }
    .title-id {
      font-size: 14px;
      color: #1d2832;
      margin-bottom: 12px;
    }
  }
  .charts-box {
    display: flex;
    background-color: #fff;
    .cpu-info {
      width: 23%;
      height: 320px;
      background: #fff;
      color: #000000;
      font-size: 14px;
      padding: 20px;
      letter-spacing: 0;

      .status {
        margin-top: 28px;
        line-height: 24px;
      }

      .charts {
        display: flex;
        justify-content: center;
        margin-top: 0.3rem;
      }
    }
    .node-info {
      flex: 1;
      background: #fff;
      padding: 20px;
      position: relative;
      .title span {
        font-family: AlibabaPuHuiTi-Regular;
        font-size: 16px;
        color: #000000;
        letter-spacing: 0;
      }

      #lineChart {
        width: 100%;
        height: 200px;
      }
      &:before {
        content: "";
        position: absolute;
        width: 1px;
        background-color: #edeaf9;
        right: 0;
        height: 80%;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
  .table-box {
    padding: 20px;
    margin-top: 20px;
    background-color: #fff;
  }
}

.ant-modal-body {
  min-height: 140px;
  font-family: AlibabaPuHuiTi-Medium;
  font-size: 14px;
  color: #1d2832;
  letter-spacing: 0;
  line-height: 24px;
}

.ant-table-cell {
  vertical-align: middle;
}

.btn-group {
  margin-top: 15px;
  .btn {
    width: 141px;
  }
  .node-info-btn {
    min-width: 143px;
  }

  .active {
    background: $mainColor;
    color: #fff;
  }
  .green-btn {
    border: 1px solid #0bb27a;
    color: #0bb27a;
    padding: unset;
  }
  .red-btn {
    border: 1px solid #f32e25;
    color: #f32e25;
    padding: unset;
  }
}
.time-group {
  margin-top: 15px;
  font-size: 12px;
  color: #5d5c65;
  letter-spacing: 0;
  .active {
    font-family: AlibabaPuHuiTi-Medium;
    color: #3c3588;
    font-weight: bold;
  }
}

.ant-btn-primary[disabled] {
  background-color: #3c3588;
}

.success_color {
  color: #69bd0d !important;
}

.failed_color {
  color: #f5222d !important;
}

.main_color {
  color: #3c3588 !important;
}

.prev-steelblue,
.prev-seagreen,
.prev-orange {
  position: relative;
  // &::before {
  //   content: "";
  //   position: absolute;
  //   top: 0.6em;
  //   left: -1.4em;
  //   width: 10px;
  //   height: 10px;
  //   border-radius: 50%;
  // }
}

.prev-orange {
  &::before {
    background-color: #ffa505;
  }
}
.prev-seagreen {
  &::before {
    background-color: #00bdb3;
  }
}
.prev-steelblue {
  &::before {
    background-color: #5eaafe;
  }
}

.ellipsis {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
  max-width: 100%;
}

.AliM {
  font-family: AlibabaPuHuiTi-Medium;
}

.AliB {
  font-family: AlibabaPuHuiTi-Bold;
}

.form-group {
  display: flex;
  align-items: center;
  .form-group-btn {
    font-family: AlibabaPuHuiTi-Medium;
    font-size: 14px;
    color: #ffffff;
    letter-spacing: 0;
    padding-left: 20px;
  }
  .black-btn {
    color: #3c3588;
  }
  & > .ant-form-item {
    margin-bottom: 0 !important;
  }
}

.pl12 {
  padding-left: 12px !important;
}

.pl20 {
  padding-left: 20px;
}

.pl40 {
  padding-left: 40px !important;
}

.pr10 {
  padding-right: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb40 {
  margin-bottom: 40px !important;
}

.pd20 {
  padding: 20px;
}

.spaceBetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text-area {
  word-break: break-all;
  word-wrap: break-word;
}

.no-warp {
  white-space: nowrap;
}

.view-link {
  text-align: right;
  padding-top: 3px;
  color: $mainColor;
  font-family: AlibabaPuHuiTi-Medium;
}

.view-link-left {
  @extend .view-link;
  text-align: left;
}
.span-view{
  color: #dadbdb;
}
.global-loading{
  width: 100vw;
  height: 100vh;
  line-height: 90vh;
}
.global-btn{
  width: 140px;
}

.no-right-border{
  border-right: none !important; 
}