.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 1200px;
  background: #f7f8fa;
  .header-box {
    width: 100%;
    height: 60px;
    background: $mainColor;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 82px;
    .logo {
      font-family: PingFangSC-Semibold;
      font-size: 18px;
      color: #ffffff;
      line-height: 26px;
    }
    .nav {
      height: 100%;
      .nav-box {
        display: flex;
        height: 100%;
        .sub-nav {
          display: flex;
          align-items: center;
          height: 52px;
          font-family: PingFangSC-Regular;
          font-size: 15px;
          color: #c8c8c8;
          text-align: center;
          margin-right: 44px;
          padding: 8px 8px 0 8px;
          text-overflow: ellipsis;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          position: relative;
          &:hover {
            background: #ffa505;
            border-radius: 0 0 4px 4px;
            color: #ffffff;
          }
          .child-nav {
            position: absolute;
            top: 100%;
            left: 0;
            padding: 10px 8px;
            color: #ffa505;
            background: red;
            z-index: 1000;
            & li:not(:last-child) {
              padding-bottom: 10px;
            }
            & li:hover {
              color: #ffffff;
            }
          }
        }
        .activeMenu {
          background: #ffa505;
          border-radius: 0 0 4px 4px;
          color: #ffffff;
        }
      }
    }
    .menu {
      display: flex;
      font-family: PingFangSC-Medium;
      align-items: center;
      color: #ffffff;
      & > p {
        padding-left: 20px;
        flex: auto;
      }
      p.company {
        width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 15px;
        white-space: nowrap;
      }
      p.logout {
        font-size: 14px;
        width: 80px;
      }
    }
  }
  .main-box {
    width: 100%;
    background: #fff;
    padding: 30px 82px;
  }
}
