.data-voucher-publishing-wrap {
  // padding: 50px 0;
  height: 100%;
  min-height: 600px;

  // display: flex;
  // align-items: center;
  // justify-content: center;
  // flex-direction: column;
  .metaInfo-name {
    font-family: AlibabaPuHuiTi-Bold;
    // font-weight: 600;
    font-size: 16px;
    color: #000000;
  }

  .metaInfo-id {
    font-family: AlibabaPuHuiTi-Medium;
    font-weight: 400;
    font-size: 14px;
    color: #1D2832;
    margin-top: 10px;
    margin-bottom: 33px;
  }

  .data-voucher-publishing {
    display: flex;
    flex-direction: column;
    background: #FBFCFD;
    border: 1px solid #EBEEF9;
    padding: 30px;
  }

  .data-publishing {
    display: flex;
    // align-items: center;
    justify-content: center;
  }

  .seat-box {
    width: 325px;
    position: relative;
    min-height: 400px;
    margin-top: 23px;


    .credentials {
      padding: 30px;
      box-sizing: border-box;
      width: 100%;
      background: #FFFFFF;
      border: 1px solid #EBEEF9;
      border-radius: 8px;
      position: absolute;

      &:hover {
        border-color: #3C3588;
      }
    }

    .select-ccredential {
      font-family: AlibabaPuHuiTi-Bold;
      font-style: normal;
      font-size: 16px;
      line-height: 22px;
      color: #000000;
      margin-bottom: 23px;

    }


    .credentials-title {
      height: 33px;
      font-family: AlibabaPuHuiTi-Bold;
      font-size: 20px;
      line-height: 28px;
      color: #000000;
    }

    .credentials-tips {
      font-family: AlibabaPuHuiTi-Regular;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #000000;
      margin-bottom: 40px;
    }
  }

  .on-attributed {
    margin-right: 30px;
  }

  .attributed {
    margin-left: 30px;
  }



  .credentials-tip-zh {
    min-height: 100px;
  }

  .credentials-tip-en {
    min-height: 160px;
  }

  .button {
    width: 112px;
    height: 36px;
    background: #3C3588;
    border-radius: 2px;
    display: flex;
    align-items: center;
    color: #fff;
    justify-content: center;
    cursor: pointer;
    // margin: 0 auto;
    margin-top: 38px;
    margin-right: 0;
    margin-left: auto;
  }

  .button-white {
    @extend .button;
    background-color: rgb(207, 205, 205);
    color: #fff;
    cursor: not-allowed;
  }
}