.power-col {
  margin-left: 20px;
  .name {
    font-size: 16px;
    padding-right: 8px;
  }
  .remain-num,
  .remain-unit {
    margin-left: 4px;
    font-size: 14px;
    color: #3c3588;
    letter-spacing: 1px;
    line-height: 28px;
  }
}
.center-compute-card-box {
  display: flex;
  gap: 2.2vw;
  height: 12.5vh;
  .center-compute-card {
    flex: 1;
    width: 22.7vw;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1.3vh 1.2vw;
    .center-compute-card-left {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .center-compute-card-title {
        font-family: AlibabaPuHuiTi-Medium;
        font-size: 16px;
        color: #ffffff;
        letter-spacing: 0;
      }
      .center-compute-card-content {
        font-family: AlibabaPuHuiTi-Medium;
        font-size: 32px;
        color: #ffffff;
        letter-spacing: 0;
        line-height: 38px;
        .value {
          font-size: 32px;
        }
        .unit {
          font-size: 14px;
        }
      }
    }
    .center-compute-card-progress {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      .ant-progress-text {
        color: #ffffff !important;
      }
    }
  }
}
