.voucher {
  .voucher-tabs {
    .ant-tabs-nav {
      margin-bottom: 0;

      &::before {
        display: none;
      }

      .ant-tabs-nav-list .ant-tabs-tab {
        border-bottom: none;
        height: 42px;
        min-width: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px 5px 0 0;

        &:nth-child(1) {
          margin-left: 0 !important;
        }
      }

      .ant-tabs-nav-list .ant-tabs-tab-active .ant-tabs-tab-btn {
        font-family: AlibabaPuHuiTi-Medium;
        // font-size: 12px;
        color: #3954FF;
        letter-spacing: 0;
        text-align: center;
        font-weight: 500;
      }
    }
  }



  .no-right-border {
    border-right: none !important;
  }


  .data-symbol {
    color: #3C3588;
    cursor: pointer;
  }
}


.details-top-box {
  box-shadow: 0px 0px 10px 0px rgba(10, 16, 81, 0.08);
  border-radius: 6px;



  .ant-card-body {
    padding: 20px;
  }


  .proce-box {
    display: flex;

    .proce-left {
      flex: 0 0 320px;

      h4 {
        font-family: AlibabaPuHuiTi-Medium;
        font-size: 16px;
        color: #344563;
        letter-spacing: -0.5px;
        font-weight: 500;
        margin-bottom: 26px;
      }

      .price-card {
        width: 100%;
        height: 165px;
        background: #F8F7FF;
        border: 1px solid #EBEEF9;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        font-family: AlibabaPuHuiTi-Medium;
        font-size: 30px;
        color: #3C3588;
        letter-spacing: -0.75px;
        font-weight: 500;

        sub {
          font-family: AlibabaPuHuiTi-Regular;
          font-size: 12px;
          color: #3C3588;
          letter-spacing: -0.75px;
          font-weight: 400;
          position: relative;
          top: 0px;
        }

        span {
          font-family: AlibabaPuHuiTi-Medium;
          font-size: 30px;
          color: #9FA8D2;
          letter-spacing: -0.75px;
          line-height: 42px;
          font-weight: 500;
          margin: 0 11px;
        }
      }
    }

    .proce-right {
      flex: 1;
      padding-left: 30px;

      .price-radio-btn {
        margin-bottom: 3px;

        label {
          &:nth-child(1) {
            margin-right: 30px;
          }

          padding: 0 40px;
          border: 1px solid rgba(60, 53, 136, 1);
          border-radius: 2px;
          font-family: AlibabaPuHuiTi-Medium;
          font-size: 12px;
          letter-spacing: 0;
          text-align: center;
          font-weight: 500;

          &:nth-child(2) {
            &::before {
              display: none;
            }
          }
        }
      }

    }
  }

  .ant-tabs .ant-tabs-nav {
    &::before {
      display: none;
    }

    .ant-tabs-tab {
      padding-bottom: 2px;
    }
  }
}

.details-bottom-box {
  margin-top: 10px;
  box-shadow: 0px 0px 10px 0px rgba(10, 16, 81, 0.08);
  border-radius: 6px;

  .ant-tabs .ant-tabs-nav {
    &::before {
      display: none;
    }

    .ant-tabs-tab {
      padding-bottom: 2px;
    }
  }

  h4 {
    font-family: AlibabaPuHuiTi-Medium;
    font-size: 16px;
    color: #344563;
    letter-spacing: -0.5px;
    font-weight: 500;
  }

  .credential-total {
    margin-top: 22px;
    width: 100%;
    height: 178px;
    background: #F8F7FF;
    border: 1px solid rgba(235, 238, 249, 1);
    border-radius: 8px;
    display: flex;
    padding: 12px;

    .add-remove {
      // width: 143px;
      padding: 0 16px;
      height: 30px;
      border: 1px solid rgba(60, 53, 136, 1);
      border-radius: 2px;
      font-family: AlibabaPuHuiTi-Medium;
      font-size: 12px;
      color: #3C3588;
      letter-spacing: 0;
      text-align: center;
      font-weight: 500;
      background: transparent;
    }

    .credential-data {
      flex: 1;
      font-family: AlibabaPuHuiTi-Medium;
      display: flex;
      padding-top: 8px;

      .data-total {
        h5 {
          font-size: 16px;
          color: #344563;
          letter-spacing: -0.5px;
        }

        p {
          font-size: 30px;
          color: #3C3588;
          letter-spacing: -0.94px;
          line-height: 42px;

          sub {
            font-size: 12px;
            position: relative;
            color: #3C3588;
            top: 0px;
          }

          margin-top: 6px;
        }

        &:nth-child(1) {
          padding-left: 18px;
        }
      }

      .ant-divider {
        margin: 0 10.9vw;
      }
    }
  }

  .brack-wrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 18px 18px 0;

    .ant-btn {
      width: 112px;
      height: 36px;
      border: 1px solid rgba(60, 53, 136, 1);
      border-radius: 2px;
    }
  }
}

.public-chart-tip-wrap {
  font-family: AlibabaPuHuiTi-Regular;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
  font-weight: 400;

  .to-right-arrow {
    margin-left: 6px;
    width: 14px;
    height: 14px;
    background: #45B854;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
  }

  .down-arrow {
    transform: rotate(90deg);
  }
}

.price-seting {
  position: relative;

  .ant-card-body {
    height: 100%;
  }

  .details-name-box {
    margin-bottom: 38px;
  }

  .speed-progress {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 52px;

    img {
      height: 60px;
    }
  }

  .price-exchange-title {
    height: 36px;
    width: 100%;
    background: #EEF1FF;
    font-family: AlibabaPuHuiTi-Medium;
    font-size: 14px;
    color: #1D2832;
    letter-spacing: 0;
    padding: 8px 12px;
    border-radius: 3px;
    font-weight: 600;
  }

  .price-exchange {
    margin: 20px auto;
    margin-top: 40px;
    width: 910px;
    height: 213px;
    background: #F8F7FF;
    border: 1px solid rgba(231, 229, 255, 1);
    border-radius: 2px 0px 0px 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .price-icon {
      // width: 1px;
      flex: 0 0 1px;
      height: 100%;
      border-left: 1px solid rgba(231, 229, 255, 1);
      display: flex;
      align-items: center;

      // justify-content: center;
      img {
        width: 60px;
        margin-left: -50%;
      }
    }

    .price-type-title {
      font-family: AlibabaPuHuiTi-Bold;
      font-size: 24px;
      color: #1E255F;
      letter-spacing: 0;
      text-align: center;
      font-weight: 700;
      width: 300px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .price-lat {
      height: 100%;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding-top: 45px;
      align-items: center;

      .price-type-title {
        margin-bottom: 45px;
      }

      .price-type-input {
        display: flex;
        align-items: center;

        span {
          font-family: AlibabaPuHuiTi-Regular;
          font-size: 14px;
          color: #1D2832;
          letter-spacing: 0;
          font-weight: 400;
          margin-right: 20px;
        }

        .ant-input {
          width: 200px;
          height: 40px;
          background: #FFFFFF;
          border: 1px solid rgba(237, 234, 249, 1);
          border-radius: 2px;
        }
      }
    }

    .price-mtstk {
      @extend .price-lat;

      .price-type-title {
        margin-bottom: 5px;
      }

      .price-secondary-title {
        font-family: AlibabaPuHuiTi-Bold;
        font-size: 14px;
        color: #1E255F;
        letter-spacing: 0;
        text-align: center;
        font-weight: 700;
        margin-bottom: 20px;
      }
    }
  }

  .price-exchange-tips {
    width: 910px;
    display: flex;
    align-items: center;
    margin: 21px auto;

    img {
      margin: 0 22px 0 5px;
    }

    div {
      p {
        font-family: AlibabaPuHuiTi-Regular;
        font-size: 12px;
        color: #1E255F;
        letter-spacing: 0;
        font-weight: 400;
      }
    }
  }

  .exchange-button {
    // position: absolute;
    // bottom: 28px;
    margin: 20px 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .but {
      height: 36px;
      border: 1px solid rgba(60, 53, 136, 1);
      border-radius: 2px;
      font-family: AlibabaPuHuiTi-Medium;
      font-size: 12px;
      letter-spacing: 0;
      text-align: center;
      font-weight: 500;
      padding: 0 16px;

      &:nth-child(1) {
        color: #3C3588;
        margin-right: 14px;
      }
    }

    .ant-btn-primary[disabled],
    .ant-btn-primary[disabled]:hover,
    .ant-btn-primary[disabled]:focus,
    .ant-btn-primary[disabled]:active {
      color: #fff !important;
    }
  }
}

.credential-info-seting {
  .details-top-box {
    border-radius: 6px;
  }

  .speed-progress {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 52px;

    img {
      height: 60px;
    }
  }

  .title {
    font-family: AlibabaPuHuiTi-Bold;
    font-size: 14px;
    color: #1D2832;
    letter-spacing: 0;
    margin-bottom: 20px;
    padding-top: 16px;
  }

  .ant-form {

    // .ant-form-item{
    //   max-width: 800px;
    // }


    .ant-input,
    .ant-input-number-input {
      // height: 40px;
      border: 1px solid rgba(237, 234, 249, 1);
      border-radius: 2px;
    }

    .no-border {
      .ant-input {
        border: none;
      }

    }

    .ant-input-number {
      width: 100%;
    }

    .ant-input-number-handler-wrap {
      display: none;
    }
  }

  .zh-label-width {

    .ant-form-item-label {
      color: #1D2832;
      max-width: 120px;
      font-family: AlibabaPuHuiTi-Regular;
      min-width: 100px;
      // padding-left: 12px;
    }

  }

  .en-label-width {

    .ant-form-item-label {
      color: #1D2832;
      font-family: AlibabaPuHuiTi-Regular;
      max-width: 180px;
      min-width: 180px;
    }

  }

  .exchange-button {
    // position: absolute;
    bottom: 18px;
    width: 90%;
    // display: flex;
    // align-items: center;
    // justify-content: center;

    .but {
      height: 36px;
      border: 1px solid rgba(60, 53, 136, 1);
      border-radius: 2px;
      font-family: AlibabaPuHuiTi-Medium;
      font-size: 12px;
      letter-spacing: 0;
      text-align: center;
      font-weight: 500;
      padding: 0 25px;
      min-width: 112px;

      &:nth-child(1) {
        color: #3C3588;
        margin-right: 40px;
      }
    }
  }

  .avatar-uploader {
    height: 130px;
    width: 230px;
    border: 1px solid #EDEAF9;
    border-radius: 2px;
    margin-right: 24px;

    .ant-upload.ant-upload-select-picture-card {
      width: 100%;
      height: 100%;
      background: #fff;
      border-style: solid;
    }

    .plus-icon {
      color: #D9D9D9;
      font-size: 20px;
    }

    .plus-tips {
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 17px;
      margin-top: 10px;
      color: #BCBBC9;
    }
  }

  .form-wrap {
    max-width: 1000px;
    min-width: 800px;

    .createzh-label-width {
      .ant-form-item-label {
        width: 210px;
      }

      .ant-form-item-control-input {
        width: 457px;
      }
    }

    .create-en-label-width {
      .ant-form-item-label {
        width: 310px;
      }



      .ant-form-item-control-input {
        width: 457px;
      }
    }

    .upload-image {
      .ant-form-item-control-input {
        width: 557px;
      }
    }
  }

  .upload-wrap {
    display: flex;
    align-items: flex-end;

    .upload-filetype {
      font-weight: 400;
      font-size: 12px;
      color: #BCBBC9;
    }
  }
}

.wrap-spin {
  div>.ant-spin {
    max-height: 80vh;
    background-color: rgba(255, 255, 255, 0.15);
  }
}

._tooltip {
  .ant-tooltip-content {
    .ant-tooltip-arrow {
      display: none;
    }

    .ant-tooltip-inner {
      color: #000000 !important;
      border: 1px solid #000;
    }
  }
}

.default_input {
  font-family: AlibabaPuHuiTi-Regular;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 20px;
  color: #BCBBC9;
}

input,
textarea ::-webkit-input-placeholder {
  @extend .default_input;
}

input,
textarea :-moz-placeholder {
  @extend .default_input;
}

input,
textarea :-moz-placeholder {
  @extend .default_input;
}

input,
textarea :-ms-input-placeholder {
  @extend .default_input;
}

.details-name-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 48px;

  .address p {
    letter-spacing: 0;

    &:nth-child(1) {
      font-family: AlibabaPuHuiTi-Bold;
      font-size: 18px;
      color: #000000;
    }

    &:nth-child(2) {
      font-family: AlibabaPuHuiTi-Medium;
      margin-top: 12px;
      font-size: 14px;
      color: #1D2832;
    }
  }

  .ant-btn {
    height: 36px;
    padding: 9px 24px;
    border: 1px solid #3C3588;
    border-radius: 2px;
    font-size: 12px;
    color: #3C3588;
    letter-spacing: 0;
    text-align: center;
    font-weight: 500;
  }
}

.credential-inventory {
  .credential-inventory-search {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .plus-button {
      border-radius: 2px;
      width: 120px;
      height: 36px;
    }
  }
}

.credential-details {
  display: flex;
  align-items: center;
  justify-content: center;

  .details {
    width: 870px;
    background: #FFFFFF;
    border: 1px solid #EBEEF9;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
  }

  .details-left {
    width: 50%;
    flex: 0 0 50%;

    .details-lf-box {
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: center;

      .ant-image-img {
        max-width: 398px;
        border-radius: 4px;
      }
    }

    .detais-lf-des {
      padding: 20px;
      font-family: AlibabaPuHuiTi-Regula;
      border-top: 1px solid #EBEEF9;

      p {
        word-break: break-all;
        word-wrap: break-word;

        &:nth-child(1) {
          font-style: normal;
          font-family: AlibabaPuHuiTi-Medium;
          font-weight: 400;
          font-size: 14px;
          color: #5D5C65;
          margin-bottom: 10px;
        }

        &:nth-child(2) {
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          color: #000000;
        }
      }
    }

  }

  .details-right {
    border-left: 1px solid #EBEEF9;
    width: 50%;
    flex: 0 0 50%;

    .details-title {
      display: flex;
      align-items: center;
      font-family: AlibabaPuHuiTi-Bold;
      justify-content: center;
      font-style: normal;
      font-weight: 900;
      font-size: 32px;
      color: #000000;
      height: 112px;
      border-bottom: 1px solid #EBEEF9;
    }

    .details-info {
      padding: 40px;
      font-family: AlibabaPuHuiTi-Medium;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #000000;

      .info-item {
        margin-bottom: 20px;

        label {
          display: inline-block;
        }
      }
    }
  }
}

.attributed-credental-exchange-logo {
  width: 39px;
  height: 39px;
  cursor: pointer;
}